*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(motor.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.navbar{
    max-width: 1200px;
    height: 75px;
    margin: auto;
}


.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
@media (max-width: 480px) {
    .logo {
        font-size: 24px;
    }
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
ul li a:hover{
    color: orange;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    display: flex;
    align-content: center;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
/* content*/
.content{
    max-width: 1200px;
    height: auto;
    margin-top: 150px;
    color: white;
    position: absolute;
}
.content .par{
    padding-left: 50px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 50px;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.4s ease;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gray;
}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background: white;
}
.content span{
    font-size: 60px;
    color: orange;
}
/* content*/

/*form*/
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, black, black);
    position: absolute;
    top: -20px;
    left: 930px;
    border-radius: 10px;
    padding: 25px;
}
@media(max-width:1000px){
    .form{
        gap: 4rem;
    }
}
@media(max-width:770px){
    .form{
        flex-direction: column;
        margin: 5rem 4rem;
    }
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;
}
.btn2{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    color: #fff;
}
.btn2:hover{
    background: #fff;
    color: #ff7200;
}
.btn2 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
}
/*form*/
.icons{
    text-decoration: none;
    color: #fff;
}
.icons i{
    color: #fff;
    font-size: 23px;
    padding-left: 15px;
    padding-top: 5px;
    transition: 0.4s ease;
    cursor: pointer;
}
.icons i:hover{
    color: #ff7200;
}




